.paddingall{
    padding:10px;
}

.priceTitle{
    font-weight: 600;
}

.PriceText{
    font-size: 14px;
}
.storeicon{
    margin-top: 20px;
    margin-left: 20px;
}
.gradient {
    background: rgb(40, 34, 70);
    background: linear-gradient(15deg,rgba(40,34,70,1) 0%,rgba(30,47,141,1) 100%);

}